<div class="panel panel-default">
  <h2 class="panel-heading"> Welcome on board !</h2>
  <div class = "panel-body">
    <p class ="col-sm-12 ">
      This application allow you to calculate the distance traveled during a rental. <br>
      You simply need to upload positions (CSV format) of the journey, and that's it ! <br>
      You will also be able to display old rentals with their mileage, duration and speed.<br><br>
      Enjoy it !
    <p>
  </div>
</div>
