<div>
    <h1 align :center> Welcome on board !</h1>
    <p>
      This application allow you to calculate the distance traveled during a rental.
      You simply need to upload positions (CSV format) of the journey, and that's it !
      You will also be able to display old rentals with their mileage.
    <p>
</div>
